body{
    background-color: #1F2937;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 100px;
    align-items: center;
}

.header{
    font-size: 40px;
    color: #F9FAF8;
    background-color: #3882f6;
    border-radius: 8px;
    text-align: center;
    width: 800px;
    padding: 5px 30px;
    box-sizing: border-box;
    font-weight: bold;
}

.mid{
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    margin: 30px;
    align-items: center;
}

.btn{
    height: 100px;
    width: 200px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 8px;
    font-size: 30px;

}

.card{
    background-color: #F9FAF8;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #1F2937;
    font-size: 30px;
}

.choiceButtons{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    width: 800px;
    
}