body{
    background-color: #1F2937;
}

.header{
    font-size: 40px;
    color: #F9FAF8;
    background-color: #3882f6;
    padding: 10px 220px;
    border-radius: 8px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.btn {
    height: 100px;
    width: 200px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 8px;
    font-size: 30px;

}

.choiceButtons{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    width: 800px;
    
}